

    body {
        font-family: 'Arial', Verdana, sans-serif;
        background-color: lightgreen;
        text-align: center;
        font-size: 16px;
    }

    h1 {
        font-weight: bold;
    }

    h2 {
        font-style: italic;
        text-decoration: underline;
    }

    p {
        line-height: 2;
        padding-left: 25%;
        padding-right: 25%;
        padding-bottom: 30px;

    }


@media screen and (min-width: 1920px) {

    body {
        font-family: 'Times New Roman', Verdana, sans-serif;
        background-color: lightcoral;
        text-align: left;
        font-size: 16px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        line-height: 2;
        padding-left: 0px;
        padding-right: 60%;
        padding-bottom: 30px;
    }
}